.navbar{
	background-color: #5BB27E;
}

.navbar-btns *{
	text-decoration: none;
	color: #FFFFFF;
}

.navbarItem{
	border-bottom: 3px solid transparent;
	transition: border-bottom 200ms ease-in-out;
	display: flex;

}

.navbarItem:hover{
	border-bottom-color: white;
}

.navbarItem:hover *{
	color: #FFFFFF;
}

.navbarLoginItem{
	color: #5BB27E;
	background-color: #FFFFFF;
	border-radius: 0.25em;
	padding: 6px;
}

.navbarLoginItem *{
	color: #5BB27E;
	padding: 8px;
	transition: transform 250ms ease-in-out;
	
}

.navbarLoginItem:hover *{
	color: #5BB27E;
}

.navbarLoginItem:hover i{
	transform: translateX(-6px);
}