.navbar{
	background-color: #81dda6;
}


.navbarBtns *{
	text-decoration: none;
	color: #FFFFFF;
}

.navbarItem{
	border-bottom: 3px solid transparent;
	transition: border-bottom 200ms ease-in-out;
	display: flex;

	&:hover {
		border-bottom-color: white;

		* {
			color: #FFFFFF;
		}
	}

}
.navbarLoginItem {
	color: #5BB27E;
	background-color: #FFFFFF;
	border-radius: 0.25em;
	padding: 6px;

	* {
		color: #5BB27E;
		padding: 8px;
		transition: transform 250ms ease-in-out;
	}

	&:hover {
		* {
			color: #5BB27E;
		}

		i {
			transform: translateX(-6px);
		}
	}
}