.img__marketplace img{
	width: 100%;
}

.divisor{
	background-color: #5BB27E;
	height: 1px;
}

.img__account img{
	width: 100%;
}

.img__account img, .img__marketplace img{
	filter: drop-shadow(6px 3px 3px rgba(0, 0, 0, 0.2));
}

.btn-primary{
	background-color: #5BB27E;
	border-color: #5BB27E;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background-color: #458860;
	border-color: #458860;
}

.btn-primary:focus{
	box-shadow: 0 0 0 0.25rem #5BB27E80;
}
